:root {
    width:1200px;
  --header-text-color: #FFFFFF;
}
header, nav {
  display: flex;
  align-items: center;
}

header {
  background-image: linear-gradient(#193F63, #10395F);
  height: 44px;
}

nav {
  height: 74px;
}

article {
  height: 200px;
  background-color: blue;
}
