:root {
  --header-text-color: #FFFFFF;
}

body {
  width:1200px;
}

header, nav {
  display: flex;
  align-items: center;
}

header {
  background-image: linear-gradient(#193F63, #10395F);
  height: 44px;
}

nav {
  height: 74px;
}

article {
  overflow: hidden;
  /* background-color: yellow; */
}

footer {
  width: 706px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}
