%header__text{
  font-size: 14px;
  font-family: 'OpenSans';
  color: var(--header-text-color);
  letter-spacing: -0.4px;
  line-height: 19px;
}



.header__follow-item {
  margin-left: 675px;
  padding-right: 21px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
    span{
      @extend %header__text;
    }
    * {
      vertical-align: middle;
    }
}



.facebook-logo {
  height: 17px;
  margin-left: 9px;
}
.twitter-logo {
  height: 15px;
  margin-left: 9px;
}
.utube-logo {
  height: 12px;
  margin-left: 10px;
}



.header__help {
  @extend %header__text;
  padding: 0 21px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}



.header__greating {
  @extend %header__text;
  padding:  0 24px;
  text-decoration: none;
  font-family: 'OpenSans-Bold';

    .img {
      vertical-align: middle;
      cursor: pointer;
    }
}
