.navbar__hamburger-button {
  display: none;
  height: 15px;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
}

.navbar__logo {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 122px;
  height: 26px;
  margin-left: 120px;
  background-image: url("../icons/Logo.svg");
}



.navbar__item-container {
  margin-left: 60px;
}

.navbar__item-container .navbar__item {
  text-decoration: none;
  color: #1A1A1A;
  margin-right: 28px;
  line-height: 22px;
  font-family: 'OpenSans-SemiBold';
  font-size: 16px;
  letter-spacing: -0.2px;
}



.navbar__dropdown-cubes {
  margin-left: 117px;
  margin-right: 5px;
}

.navbar__dropdown-dropdown {
  position: relative;
  top: -2px;
}

.navbar__dropdown-dropdown * {
  /* vertical-align: middle; */
  color: #1A1A1A;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  letter-spacing: -0.2px;
  cursor: pointer;
}




.navbar__logout-button {
  width: 101px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #01BC7E;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  margin-left: 30px;
}

.navbar__logout-button :last-child {
  margin-left: 2px;
}


@media all and (max-width: 800px) {
  .navbar__item-container, .navbar__dropdown-dropdown, .navbar__logout-button {
    display: none;
  }

  .navbar__dropdown-cubes {
    margin: 0;
    position: relative;
    right: 14px;
  }


  .navbar__hamburger-button {
    display: inline;
    position: relative;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    left: 16px;
    width: 16px;
    height: 15px;
    background-image: url("../icons/Menu.svg");
  }

  .navbar__logo {
    position: relative;
    top: 2px;
    margin-left: 0;
    width: 90px;
    height: 19.2px;
    background-image: url("../icons/Logo S.svg");
    background-position: center;
  }
}
