

.article__image {
 overflow: hidden;
 float: left;
 width: 480px;
 height: 335px;
 margin: 40px 30px 0 120px;
 border-radius: 5px;
}
.article__image img {
  position: relative;
  left: -16px;
  height: 386px;

}

.article__text {
  margin: 40px 122px 0 0;
}

.article__heading {
  font-family: 'OpenSans-Bold';
  font-size: 36px;
  letter-spacing: -1.2px;
  line-height: 49px;
  color: #38526A;
  margin: 0;
}

.article__paragraph {
  margin: 10px 0 0 0;
  padding-bottom: 11px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  color: #4D4D4D;
}
